.dorms-container{
    margin-top: 2em;
    min-width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dorms-container div{
    margin-top: 1em;
}

.user-div {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30%;
}